# Variables para Resend
MAILER_TO=example@example.com
MAILER_SECRET_KEY=your_secret_key

# Variables para SMTP
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_USER=tu_correo@gmail.com
SMTP_PASS=tu_clave_stp