---

---
<section id="about">
    <h2>About</h2>
    <p>
        Me llamo Edwin Fidel García Távara. Empecé en la programación en mi carrera, con un proyecto de inventario. Actualmente trabajo enfocado en el backend.
        Algunos de mis logros incluyen colaborar para un proyecto de una empresa de España , y crear un sistema de inventario para una empresa de mi país.
        Mi objetivo es mejorar como desarrollador para llegar a ser un Arquitecto de Software.
    </p>
    <img src="" alt="">
</section>