---
---

<header>
    <nav class="border-gray-200 dark:text-white">
        <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
            <a href="https://dreamy-cranachan-8293fa.netlify.app/" class="flex items-center space-x-3 rtl:space-x-reverse">
                <img src="../assets/FG_logo.png" class="h-8" alt="FG Logo" />
                <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">EFGT</span>
            </a>
        </div>
        <a href="#">Home</a>
        <a href="#">About</a>
        <a href="#">Experience</a>
        <a href="#">Skills</a>
        <a href="#">Projects</a>
        <a href="#">Contact</a>
    </nav>
</header>

